header{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 400px;
    font-size: 36px;
    color: white;
}

.title{
    display: flex;
    justify-content:center;
    align-items:center;
    color: red;
}


body
{
    background-color: lightgray;
    background-image: url('https://images.techhive.com/images/article/2017/03/thinkstockphotos-622989362-100713229-large.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#btn-single {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:#28a745;
    border: none;
    border-radius: 15px;
    transition-duration: 0.3s;
    /* box-shadow: 0 9px #999; */
  }
  
  #btn-single:hover {
    background-color: white;
    color: #28a745;
  }
  
  #btn-single:active {
    background-color: #28a745;
    /* box-shadow: 0 5px #666; */
    transform: translateY(4px);
  }

  #btn-multi {
    display: inline-block;
    padding: 15px 35px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:#28a745;
    border: none;
    border-radius: 15px;
    transition-duration: 0.3s;
    /* box-shadow: 0 9px #999; */
  }
  
  #btn-multi:hover {
    background-color: white;
    color: #28a745;
  }
  
  #btn-multi:active {
    background-color: #28a745;
    transform: translateY(4px);
  }
  
  #hitButton{
    margin-top: 5px;
    display: inline-block;
    padding: 15px 42px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #212529;
    background-color:  #ffc107;
    border: none;
    border-radius: 15px;
    /* box-shadow: 0 9px #999; */
    transition-duration: 0.3s;
  }

  #hitButton:hover{
    background-color: white;
    color: #ffc107;
    
  }

  #hitButton:active{
    background-color: #28a745;
    /* box-shadow: 0 5px #666; */
    transform: translateY(4px);
  }

  #stayButton{
    display: inline-block;
    padding: 15px 35px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #dc3545;
    border: none;
    border-radius: 15px;
    transition-duration: 0.3s;
    /* box-shadow: 0 9px #999; */
  }

  #stayButton:hover{
    background-color: white;
    color: #dc3545;
  }

  #stayButton:active{
    background-color: #28a745;
    /* box-shadow: 0 5px #666; */
    transform: translateY(4px);
  }

  #nextTurn{
    padding: 15px 35px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #343a40;
    border: none;
    border-radius: 15px;
    transition-duration: 0.3s;
    /* box-shadow: 0 9px #999; */
  }

  #nextTurn:hover{
    color: #343a40;
    background-color: #fff;
  }

  #nextTurn:active{
    /* background-color: #28a745; */
    /* box-shadow: 0 5px #666; */
    transform: translateY(4px);
  }

  #dealButton{
    padding: 15px 35px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #343a40;
    border: none;
    border-radius: 15px;
    transition-duration: 0.3s;
    /* box-shadow: 0 9px #999; */
  }

  #dealButton:hover{
    color: #343a40;
    background-color: #fff;
  }

  #dealButton:active{
    /* background-color: #28a745; */
    /* box-shadow: 0 5px #666; */
    transform: translateY(4px);
  }

  #backButton{
    margin-top: 5px;
    display: inline-block;
    padding: 15px 35px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 15px;
    transition-duration: 0.3s;
    /* box-shadow: 0 9px #999; */
  }

  #backButton:hover{
    background-color: #fff;
    color: #007bff;
  }

  #backButton:active{
    background-color: #3e8e41;
    /* box-shadow: 0 5px #666; */
    transform: translateY(4px);
  }

  #resetButton{
    display: inline-block;
    padding: 15px 35px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #6c757d;
    border: none;
    transition-duration: 0.3s;
    border-radius: 15px;
    /* box-shadow: 0 9px #999; */
  }

  #resetButton:hover{
    background-color: #fff;
    color: #6c757d;
  }
  #resetButton:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #gamerule {
    display: inline-block;
    padding: 15px 68px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 15px;
    transition-duration: 0.3s;
    /* box-shadow: 0 9px #999; */
  }
  
  #gamerule:hover {
    background-color: white;
    color: #28a745;
  }
  
  #gamerule:active {
    background-color: #28a745;
    /* box-shadow: 0 5px #666; */
    transform: translateY(4px);
  }


/* Table style */
.table{
    border: 1px black solid;
    display: flex;
    justify-content: center;
    height: 60vh;
    background-color: rgb(0, 126, 0);
}

.table-player{  
    border: 1px white solid;
    width: 100%;
}

.table-dealer{  
    border: 1px white solid;
    width: 100%;
}
/* Table Button style*/

.messageBoard{
  margin-top: 12.5%;
  margin-left: 25%;
  background-color: black;
  color: white;
  text-align: center;
  width: 50%;
  border: white 1px solid;
  border-radius: 10px;
}






/* Card Style */
.cards{
    display: flex;
    height: 133.5px;
}

.card-player{
    width: 96px;
    height: 133.5px;
    margin: 0 10px 0 10px;
}

.card-dealer{
    border: 1px orange solid;
    width: 96px;
    height: 133.5px;
    margin: 0 5px 0 5px;
}

.card-img{
  width: 96px;
  height: 133.5px;
  border: 1px solid black;
  border-radius: 10px;
}

#MessageBoard{
  color: white;
  font-size: large;
}

#playerTable{
  font-size:35px;
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
#dealerTable{
  font-size:35px;
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
#balanceText{
  font-size:25px;
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.chips{
  font-size:25px;
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#clearBet{
  height: 100px;
  width: 100px;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: lightcoral;
  background-image: url('image/Chip0.PNG');
  background-size: cover;
  border: none;
  border-radius: 50%;
  border: 1px solid black;
}

#clearBet:active{
  transform: translateY(4px);
}

#oneChips{
    height: 100px;
    width: 100px;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightcoral;
    background-image: url('image/Chip1.PNG');
    background-size: cover;
    border: none;
    border-radius: 50%;
    border: 1px solid black;
    
}

#oneChips:active{
  transform: translateY(4px);
}
#fiveChips{
    display: inline-block;
    height: 100px;
    width: 100px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: black;
    background-color:lightcoral;
    background-image: url('https://raw.githubusercontent.com/Thang-sudo/EECS448_Blackjack/master/public/image/Chip5.PNG');
    background-size: cover;
    border: none;
    border-radius: 50%;
    border: 1px solid black;
    /* box-shadow: 0 9px #999; */
}

#fiveChips:active{
  transform: translateY(4px);
}

#tenChips{
    display: inline-block;
    height: 100px;
    width: 100px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightcoral;
    background-image: url('https://raw.githubusercontent.com/Thang-sudo/EECS448_Blackjack/master/public/image/Chip50.PNG');
    background-size: cover;
    border: none;
    border-radius: 50%;
    border: 1px solid black;
    /* box-shadow: 0 9px #999; */
}

#tenChips:active{
  transform: translateY(4px);
}


#fifteenChips{
    display: inline-block;
    height: 100px;
    width: 100px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;   
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightcoral;
    background-image: url('https://raw.githubusercontent.com/Thang-sudo/EECS448_Blackjack/master/public/image/Chip100.PNG');
    background-size: cover;
    border: none;
    border-radius: 50%;
    border: 1px solid black;
    /* box-shadow: 0 9px #999; */
}

#fifteenChips:active{
  transform: translateY(4px);
}

#RuleList{
  display: table;
  font-size:30px;
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0 auto;
}

#buttonContainer{
  text-align: center;
}

/* Multiplayer Mode */
#player-info{
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  border-top-left-radius: 5px;
  font-size: 18px;
  margin-bottom: 10px;
}

#player1{
  background-color: rgb(0, 126, 0);
  border-top: 1px white solid;
  border-left: 1px white solid;
  border-right: 1px white solid;
  border-bottom: 1px white solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 180px;
  padding-left: 6px;
}

#player2{
  margin-right: 35px;
  background-color: rgb(0, 126, 0);
  border-top: 1px white solid;
  border-left: 1px white solid;
  border-right: 1px white solid;
  border-bottom: 1px white solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 180px;
  padding-left: 6px;
}


.connected, .stay{
  font-weight: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.connected span, .stay span{
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: red;
}

span.green{
  background: lightgreen;
}

.ruleTable{
  border: 1px black solid;
  display: flex;
  justify-content: center;
  height: 60vh;
  background-color: rgb(0, 126, 0);
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.singleplayerRuleTable{  
  border: 1px white solid;
  width: 100%;
  border-bottom-left-radius: 5px;
}

.multiplayerRuleTable{  
  border: 1px white solid;
  width: 100%;
  border-bottom-right-radius: 5px;
  padding-right: 10px;
}

#blackjackRules{
  color: white;
  font-size: 48px;
  text-align: center;
  margin-top: 150px;
  background-color: rgb(0,126,0);
  margin-bottom: 0px;
  border-top: solid white 1px;
  border-right: solid white 1px;
  border-left: solid white 1px;
  padding: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#singleplayerRules{
  text-align: center;
  font-size: 30px;
}

#multiplayerRules{
  text-align: center;
  font-size: 30px;
}
#exceed21{
  background-color: darkred;
  padding: 2px;
  padding-top:0px;
  border-radius: 5px;
}
